@import url("https://use.typekit.net/mju8dci.css")
@import url("https://fonts.googleapis.com/icon?family=Material+Icons")

icon-podcast = "\e905"
icon-close = "\e906"
icon-fsc = "\e907"
icon-raa = "\e908"
icon-spf = "\e909"
icon-wfs = "\e90a"
icon-ag = "\e904"
icon-facebook = "\e900"
icon-linkedin = "\e901"
icon-scroll-down = "\e902"
icon-twitter = "\e903"

@font-face
	font-family 'icomoon'
	src url('./fonts/icomoon/icomoon.eot?3zrz8o')
	src url('./fonts/icomoon/icomoon.eot?3zrz8o#iefix') format('embedded-opentype'), url('./fonts/icomoon/icomoon.ttf?3zrz8o') format('truetype'), url('./fonts/icomoon/icomoon.woff?3zrz8o') format('woff'), url('./fonts/icomoon/icomoon.svg?3zrz8o#icomoon') format('svg')
	font-weight normal
	font-style normal

[class^="icon-"], [class*=" icon-"]
	font-family 'icomoon' !important
	speak none
	font-style normal
	font-weight normal
	font-variant normal
	text-transform none
	line-height 1

	/* Better Font Rendering =========== */
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale


.icon-podcast
	&:before
		content icon-podcast
.icon-close
	&:before
		content icon-close
.icon-fsc
	&:before
		content icon-fsc
.icon-raa
	&:before
		content icon-raa
.icon-spf
	&:before
		content icon-spf
.icon-wfs
	&:before
		content icon-wfs
.icon-ag
	&:before
		content icon-ag
.icon-facebook
	&:before
		content icon-facebook
.icon-linkedin
	&:before
		content icon-linkedin
.icon-scroll-down
	&:before
		content icon-scroll-down
.icon-twitter
	&:before
		content icon-twitter