!= Former::text("blockContactForm[{$id}][headline]", 'Headline')
!= Former::wysiwyg("blockContactForm[{$id}][details]", 'Details')
!= Former::image('contact_form_background', 'Background')->help('The background image behind the details.<br><br><u>Image Size</u><br>Upload ratio: <b>71/96</b><br>Design Dimensions: <b>710px x 960px </b><br>Recommended(Retina) Upload Image Size: <b>1420px x 1920px</b><br><br><u>Important</u><br><li> After upload please <b>click the cropping icon(scissor icon)</b> to ensure your image can fit the aspect ratio.</li>')->aspect(71/96)
